<app-msg-banner
  [msgList]="messageList"
  (msgListChange)="messageList = $event"
></app-msg-banner>

<div *ngIf="roomsLoaded && isAdmin" fxLayout="row" fxLayoutAlign="end" class="add">
  <button
    fxFlex="20%"
    fxFlex.lt-md="100%"
    mat-raised-button
    color="primary"
    (click)="add()"
  >
    <mat-icon>add</mat-icon> Add Room
  </button>
</div>

<mat-table
  *ngIf="roomsLoaded"
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8 table-responsive"
>
  <ng-container matColumnDef="info">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Info </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="Info">
      <button mat-raised-button color="primary" (click)="showInfo(row)">
        <mat-icon>info</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Room </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="Room">
      {{ row.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Status
    </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="Status">
      {{ row.status.description }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="reservedBy">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Reserved By
    </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="Reserved By">
      {{ row.currentReservation?.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="timeUntilFree">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Time until free
    </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="Time until free">
      {{ row.timeUntilFree | date: "HH:mm:ss" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Action
    </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="Action">
      <button
        mat-raised-button
        color="primary"
        *ngIf="
          (row.status.code === 2 &&
            user.displayName === row.currentReservation.email) ||
          (row.status.code === 1 && user.displayName === row.pendingBy)
        "
        (click)="free(row)"
      >
        Free
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="row.status.code === 0"
        (click)="pending(row)"
      >
        Occupy
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="follow">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Follow
    </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="Follow">
      <div *ngIf="row.status.code === 1 || row.status.code === 2">
        <button
          mat-raised-button
          color="primary"
          *ngIf="row.following"
          (click)="unfollow(row)"
        >
          Unfollow
        </button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="
            !row.following &&
            ((row.status.code === 2 &&
              user.displayName !== row.currentReservation.email) ||
              (row.status.code === 1 && user.displayName !== row.pendingBy))
          "
          (click)="follow(row)"
        >
          Follow
        </button>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="Edit">
      <button mat-raised-button color="primary" (click)="edit(row)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
